
<%= form_for @tweet do |f| %>
  <p>
    <%= f.label :long_url, "URL" %><br>
    <%= f.text_field :long_url %>
    <%= content_tag :button, "shorten", :class => 'shorten', :type => 'button' %> <%= image_tag "spinner.gif", :id => "spinner"%><br>
    <span id="shortenerr"></span>
  </p>

  <p>
    <%= f.label :message, "Tweet" %><br>
    <%= f.text_area :message, :size => '50x3' %><br>
    <span id="charcount">140 characters left</span>
  </p>

  <p>
    <%= f.label :scheduled_date, "Scheduled Date" %><br>
    <%= f.text_field :scheduled_date %>
    <%= content_tag :button, "quick pick", :class => 'quickpick', :type => 'button', "data-timestamp" => @quickpick %>
  </p>


  <%= f.submit "Schedule Tweet", :disable_with => 'Adding...' %>
  <%= submit_tag("Clear Form", { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
<% end %>
