
<%= form_for @tweet do |f| %>
  <p>
    <%= f.label :long_url, "URL" %><br>
    <%= f.text_field :long_url %>
    <%= content_tag :button, "shorten", :class => 'shorten', :type => 'button' %> <%= image_tag "spinner.gif", :id => "spinner"%>      
  </p>

  <p>
    <%= f.label :message, "Tweet Message" %><br>
    <%= f.text_area :message, :size => '50x3' %>
  </p>

  <%= f.submit "Schedule Tweet", :disable_with => 'Adding...' %>
<% end %>
