<div class="tweet">
  <div class="message"><%= raw Rinku.auto_link tweet.message %></div>
  <% if tweet.long_url && tweet.long_url.size > 0 %>
    <div class="long_url">Link: <%= raw Rinku.auto_link(tweet.long_url) %></div>
  <% end %>
  <div class="tweet_options">
    <% if tweet.status == 'pending' %>
      <%= raw "Scheduled for #{tweet.scheduled_date.strftime("%m/%d/%y %I:%M%P")} &middot; " if tweet.scheduled_date %>
      <%= link_to "edit", edit_tweet_path(tweet) %> &middot;
      <%= link_to "delete", tweet, :confirm => "Delete the tweet '#{tweet.message}'?", :method => :delete %>
    <% elsif tweet.status == 'sent' %>
      Status: <span class="status_sent"><%= link_to "sent", "https://twitter.com/#!/#{tweet.user.twitter_handle}/status/#{tweet.tweet_uid}" %></span> <%= tweet.sent_date.strftime(" (%m/%d/%y %I:%M%P)") if tweet.sent_date %>. Clicks: <%= "#{tweet.user_clicks.to_i}/#{tweet.global_clicks.to_i}." %>
    <% else %>
      Status: <span class="status_<%= tweet.status %>" <%= " title='#{tweet.error}'" if tweet.error %>><%= tweet.status %></span>
    <% end %>
  </div>
</div>
