<% title 'User Settings' %>

<%= form_for @user do |f| %>
  <p>
    <%= f.label :email_addresss, "Email Addresss" %><br>
    <%= f.text_field :email_address %>
  </p>
  <p>
    <%= f.label :bitly_api_key, "Bit.ly user name " %><br>
    <%= f.text_field :bitly_username %>
  </p>
  <p>
    <%= f.label :bitly_api_key, "Bit.ly API key" %><br>
    <%= f.text_field :bitly_api_key %>
  </p>
  
  <%= f.submit "Save changes", :disable_with => 'Save changes...' %>
<% end %>

<h3>Bookmarklet</h3>

Use this <a href="javascript:(function(){window.open('<%= root_url %>?url='+encodeURIComponent(location.href)+'&access_token=<%= current_user.access_token %>')})()">tweet later (<%= current_user.twitter_handle %>)</a> bookmarklet to schedule tweets from this account.