<% title 'User Settings' %>

<%= form_for @user do |f| %>
  <p>
    <%= f.label :email_addresss, "Email Addresss" %><br>
    <%= f.text_field :email_address %>
  </p>
  <p>
    <%= f.label :time_zone, "Time zone" %><br>
    <%= time_zone_select("user", :time_zone, ActiveSupport::TimeZone.us_zones) %>
  </p>
  <p>
    <%= f.label :bitly_api_key, "Bit.ly user name " %><br>
    <%= f.text_field :bitly_username %>
  </p>
  <p>
    <%= f.label :bitly_api_key, "Bit.ly API key" %><br>
    <%= f.text_field :bitly_api_key %>
  </p>
  <p>
    <%= f.label :quick_pick_start, "Quick pick start" %><br>
    <%= f.select :quick_pick_start, options_for_select(hourly_select_options, @user.quick_pick_start) %>
  </p>
  <p>
    <%= f.label :quick_pick_interval, "Quick pick interval" %><br>
    <%= f.select :quick_pick_interval, options_for_select([["5 mins", 5], ["10 mins", 10], ["15 mins", 15], ["20 mins", 20], ["30 mins", 30], ["1 hour", 60], ["90 mins", 90], ["2 hours", 120], ["4 hours", 240]], @user.quick_pick_interval)%>
  </p>
  
  <%= f.submit "Save changes", :disable_with => 'Save changes...' %>
<% end %>

<h3>Bookmarklet</h3>

<% bookmarklet = "javascript:(function(){window.open('#{root_url}?url='+encodeURIComponent(location.href)+'&access_token=#{current_user.access_token}')})()" %>
Use this <a href="<%= bookmarklet %>">tweet later (<%= current_user.twitter_handle %>)</a> bookmarklet to schedule tweets from this account or copy the bookmarklet link below for your mobile devices:
<p>
<textarea id="bookmarklet" cols="80" rows="3"><%= bookmarklet %></textarea>