<!DOCTYPE html>
<html>
  <head>
    <title><%= APP_NAME %></title>
    <%= stylesheet_link_tag "application", "jquery-ui", "timepicker" %>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Varela|Aclonica' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application", "timepicker" %>
    <%= javascript_include_tag params[:controller] if CONTROLLER_SPECIFIC_JAVASCRIPT.include?(params[:controller]) %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="brand"><%= content_tag :h1, link_to(APP_NAME, root_path) %></div>
        <ul id="nav">
          <% if current_user %>
            <li><%= content_tag :span, link_to("Archive", archive_path), :class => 'navopt' %></li>
            <li><%= content_tag :span, link_to("Settings", settings_path), :class => 'navopt' %></li>
            <li><%= content_tag :span, link_to("Log out #{current_user.twitter_handle}", signout_path), :class => 'navopt' %></li>
          <% else %>
            <li> <%= content_tag :span, link_to("Connect via Twitter", root_path + 'auth/twitter'), :class => 'navopt' %></li>
          <% end %>
        </ul>
      </div>

      <div id="main">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <%= content_tag :h3, yield(:title) if show_title? %>
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      Built by <a href="http://twitter.com/joostschuur">@jooostschuur</a>.
    </div>
  </body>
</html>
