<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag params[:controller] if CONTROLLER_SPECIFIC_JAVASCRIPT.include?(params[:controller]) %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <% if current_user %>
          Logged in as <%= current_user.twitter_handle %> &middot; <%= link_to "Log out", signout_path %>
        <% else %>
          <%= link_to "Log in via Twitter", root_path + 'auth/twitter' %>
        <% end %>
      </div>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
